@media all{
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }
    header{
        height: 110px;
        width: 100%;
        background-image: linear-gradient(to right, red, rgb(247, 86, 86));
    }
    .Logo_Class{
        width: 30%;
        height: 100%;
        float: right;
        background-color: #fafafa;
    }
    .Logo_Class h1{
        float: left;
        line-height: 110px;
        padding: 0 15px;
    }
    .Logo_Class img{
        height: 100%;
        border-radius: 50%;
        float: right;        
    }
    header a{
        color: black;
    }
    .nav{
        width: 70%;
        text-align: center;
    }
    .nav a{
        color: white;
        font-weight: bold;
        display: inline-block;
    }
    .nav li{
        display: inline-block;
        line-height: 110px;
        width: 33%;
        text-align: center;
    }
    .nav a:hover{
        background-color: white;
        color: black;
        height: 100%;
        width: 100%;
    }
    .main{
        width: 100%;
        height: 500px;
        background-color: rgb(225, 55, 55);
        border-top: 4px solid white;
        animation-name: background ;
        animation-iteration-count: infinite;
        animation-duration: 15s;
    }
    @keyframes background {
        0%{
            background-color: rgb(214, 214, 214);
        }
        25%{
            background-color: aqua;
        }
        50%{
            background-color: rgb(225, 55, 55);;
        }
        100%{
            background-color: rgb(11, 26, 75);
        }
    }
    aside{
        width: 30%;
        height: 500px;
        background-color: white;
        text-align: center;
        float: left;
    }
    .photo{
        width: 90%;
    }
    .h2{
        padding: 23px 0;
        border-bottom: 2px solid red;
    }
    section{
        width: 70%;
        height: 500px;
        float: right;
        position: relative;
    }
    .First_article{
        width: 400px;
        height: 180px;
        position: absolute;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 15px;
    }
    .First_article h3{
        border-bottom: 2px solid red;
        padding: 15px 0;
    }
    .First_article p{
        font-family: 'Lateef', cursive;
        text-align: justify;
        text-align: center;
    }
    .contact{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .contact img{
        width: 45px;
        border-bottom: 2px solid red;
        padding-bottom: 10px;
    }
    .contact img:hover{
        width: 55px;
        border-bottom: 2px solid black;
    }
}
@media only screen and (max-width: 1284px){
    .nav li{
        width: 30%;
    }
}
@media only screen and (max-width: 839px){
    .Logo_Class{
        width: 35%;
    }
}
@media only screen and (max-width: 706px){
    .Logo_Class{
        width: 40%;
    }
    .nav li{
        width: 25%;
    }
    aside{
        width: 35%;
    }
    section{
        width: 65%;
    }
    .First_article{
        width: 300px;
    }
}
@media only screen and (max-width: 617px){
    .Logo_Class{
        width: 45%;
    }
}
@media only screen and (max-width: 548px){
    header, .main{
        height: auto;
    }
    .Logo_Class{
        width: 100%;
        text-align: center;
    }
    .Logo_Class h1, .Logo_Class img{
        float: none;
    }
    .nav, aside, section{
        width: 100%;
    }
    .First_article{
        height: 260px;
    }
    .nav li{
    display: block;
    width: 100%;
    }
}
@media only screen and (orientation:landscape) and (max-width: 548px){
    header, .main{
        height: auto;
    }
    .Logo_Class{
        width: 100%;
        text-align: center;
    }
    .Logo_Class h1, .Logo_Class img{
        float: none;
    }
    .nav, aside, section{
        width: 100%;
    }
    .First_article{
        height: 260px;
    }
    .nav li{
    display: block;
    width: 100%;
    }
}